.iapp-thank-you-container {
    margin: 3em auto;
    max-width: 800px;
    text-align: center;
    width: 80%;
    a {
        font-size: 1.5em;
        margin-top: 1em;
        display: block;
        text-decoration: underline;
    }

    p {
        color: white;
        font-size: 1.2em;
        margin-top: 2em;
    }
}
